/*Global settings*/

body {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	/*background-color: rgb(146, 155, 14);*/
	/*background: #dee3e2;*/
	/*background-color: rgb(213, 215, 91);*/
	/*background-color: rgb(219, 211, 67);*/
	/*background-color: #3B322C;*/
	background-color: rgb(57, 24, 31);
	min-height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background: linear-gradient(180deg, darkolivegreen 85%, darkgreen 100%);*/
	margin-left: 30px;
	margin-bottom: 30px;
}

html {
	min-height: 100%;
}

p {
	font-size: 15px;
	font-weight: bold;
	/*color: rgb(124, 146, 153);*/
}

/*Individual posts*/

.Post {
	font-family: Consolas, Arial, sans-serif;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	/*border-style: outset;*/
	border-color: rgb(153, 75, 11);
	background-color: rgb(57, 24, 31);
	/*background-color: rgb(244, 162, 97);*/
	/*border-width: 4px;*/
	max-width: 600px;
	/*background-color: #de7119;*/
	/*background-color: rgb(215, 91, 91);*/
	/*background: linear-gradient(180deg, grey 0%, darkgrey 50%);*/
	/*-moz-box-shadow: 10px 10px;
	-webkit-box-shadow: 10px 10px;
	box-shadow: 10px 10px;*/
}

.FirstPost {
	max-width: 70%;
	margin-left: -25px;
}

.PostInfo {
	padding-bottom: 5px;
	margin-left: 40px;
	display: inline-block;
	background-color: rgb(244, 162, 97);
	border-style: outset;
	border-width: 4px;
	border-color: rgb(153, 75, 11);
	/*border-bottom: 2px solid black;*/
	border-bottom: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	/*-moz-box-shadow: 6px 0px 6px;
	-webkit-box-shadow: 6px 0px 6px;
	box-shadow: 6px 0px 6px;*/
}

	.PostInfo p {
		display: inline-block;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 0px;
		margin-right: 15px;
		color: black;
	}

		.PostInfo p:first-child {
			margin-left: 20px;
		}
		
		.PostInfo p:last-child {
			margin-right: 50px;
		}

.PostContent {
	margin-left: 20px;
	padding-left: 40px;
	margin-top: -4px;
	/*margin-top: 5px;*/
	white-space: pre-line;
	background-color: rgb(244, 162, 97);
	border-width: 4px;
	border-style: outset;
	border-color: rgb(153, 75, 11);

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	-moz-box-shadow: 8px 8px 8px;
	-webkit-box-shadow: 8px 8px 8px;
	box-shadow: 8px 8px 8px;
	/*border-top: none;*/
}

/*Post form*/

.PostForm {
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	border-width: 4px;
	border-style: outset;
	-moz-box-shadow: 10px 10px;
	-webkit-box-shadow: 10px 10px;
	box-shadow: 10px 10px;
	/*background-color: #958750;*/
	/*border-color: #70653A;*/
	background-color: rgb(243, 167, 18);
	border-color: rgb(129, 88, 10);
}

	.PostForm input {
		margin-left: auto;
		margin-right: auto;
	}

	.PostForm textarea {
		width: 95%;
	}

/*Misc*/

a {
	color: #116979;
	/*border: solid 1px;*/
	/*background-color: #18b0b0;*/
	padding: 3px;
}

	a:link {
		text-decoration: underline;
	}

	a:visited {
		text-decoration: underline;
	}

	a:hover {
		text-decoration: underline;
		-moz-text-decoration-style: double;
		text-decoration-style: double;
	}

	a:active {
		text-decoration: underline;
		-moz-text-decoration-style: double;
		text-decoration-style: double;
	}

.NavLink {
	margin-left: 15px;
}

.Note {
	display: inline;
	font-style: italic;
}

.MainTitle {
	text-align: center;
	color: #7C9299;
}
