@model ASPForum.Pages.AdminPanelModel
<!DOCTYPE html>
<html>
<head>
	<title>Secret Admin Panel</title>
	<link rel="stylesheet" type="text/css" href="~/style.css" />
</head>
<body>
	<div>
		@Model.UserID
		<form action="AdminPanel/Nuke" method="post">
			@Html.AntiForgeryToken()
			<input type="submit" value="Nuke it all" />
		</form>
	</div>
</body>
</html>