@page
@model ASPForum.Pages.AdminPanelModel

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AdminPanel</title>
</head>
<body>
	@{ 
		if (Request.HttpContext.Connection.RemoteIpAddress.ToString() == "127.0.0.1") {
			@await Component.InvokeAsync("AdminLogin")
		} else {
			<h1>Go away</h1>
		}
	}
	@*await Component.InvokeAsync("AdminLogin")*@
</body>
</html>
