@page
@model ASPForum.Pages.AdminPanelModel

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AdminPanel</title>
</head>
<body>
	@await Component.InvokeAsync("AdminLogin")
</body>
</html>
