@page
@model ASPForum.Pages.ErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="refresh" content="2;url=Index" />
	<link href="~/index.css" rel="stylesheet" />
	<title>Error</title>
</head>
<body>
	<h1>@Response.StatusCode error!</h1>
	<p>I suggest you run</p>
</body>
</html>
