@page
@model ASPForum.Pages.ErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link href="~/index.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
	<p>Error code is @Response.StatusCode</p>
</body>
</html>
