@page
@{
	Layout = "Shared/_Layout.cshtml";
	ViewBag.isThread = false;
}
@model ASPForum.Pages.IndexModel
@using ASPForum.Post
@section AdminLink{
	<p>
		@{
			if (Request.HttpContext.Connection.RemoteIpAddress.ToString() == "127.0.0.1") {
				<a href="AdminPanel">To Admin Panel</a>
			}
		}
	</p>
}
@{
	foreach (var Thread in ThreadManager.GetAllThreads(0)) {
		<div class="Post">
			<div class="PostInfo">
				<p>Thread No. <a href="Thread/@Thread.ThreadID">@Thread.ThreadID</a></p>
				<p>Name: @Thread.Name</p>
				<p>Other: @Thread.Other</p>
			</div>
			<div class="PostContent">
				<p>@Thread.Content</p>
			</div>
		</div>
	}
}
