@page "{id:int?}"
@model ASPForum.Pages.ThreadModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link href="~/index.css" rel="stylesheet" />
    <title>Thread</title>
</head>
<body>
	@{ 
		if(RouteData.Values["id"] == null) {
			
		}
	}
</body>
</html>
